<!DOCTYPE html>
<html>

  <head>
    <title><%= get_title(yield(:title)) %></title>
    <meta charset='utf-8'>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shims' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
